name: Build and Push Rust API Image

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write # Necesario para subir a GHCR

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
        # Emulación de ARM64

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
        # Constructor avanzado de Docker

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}
      
      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: . # Usa el directorio raíz (donde está el Dockerfile)
          file: ./Dockerfile # Especifica tu Dockerfile (asumimos que está en la raíz)
          push: true
          platforms: linux/arm64 # ¡Construye para tu Raspberry Pi!
          # **TAGs AJUSTADAS**
          tags: ghcr.io/${{ github.repository_owner }}/qr-url-stats:latest 
          cache-from: type=gha
          cache-to: type=gha,mode=max